*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{        
    background-color: #333333;
    flex-direction: column;
    min-height: 50Vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.log-in{
    padding: 10px;
    margin: 5px;
    background-color: #000000;
    width: 500px;
    border-radius: 15px;
    margin: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in .img{
    height: 150px;
    width: 150px;
}
.log-in h1{
    text-align: center;
}
.log-in .inputs .form-group{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.log-in .inputs .form-group input{
    width: 100%;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}
.log-in .inputs .type{
    width: 200px;
    gap: 15px;
}
.log-in .button{
    width: 100%;
    border-radius: 20px;
    height: 30px;
    background-color: cornflowerblue;
}

